version: '3.5'

services:
  postgres:
    container_name: postgres_container
    image: postgres:15
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - PGDATA=/data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - '5432:5432'
    networks:
      - postgres
    restart: always

networks:
  postgres:
    driver: bridge
volumes:
  postgres:
