.createCategoryForm {
  @apply flex flex-col h-[calc(100%_-_56px)] justify-between p-4;
}

.createCategoryFormInputs {
  @apply flex flex-col gap-2;
}

.createCategoryFormIcon {
  @apply text-gray-400;
}

.addProductToCategoryTitle {
  @apply text-gray-900 text-sm;
}

.searchProductInputWrapper {
  @apply flex w-full border border-gray-300 rounded gap-2 py-2.5 px-2;
}

.searchProductIconWrapper {
  @apply flex justify-center items-center;
}

.searchProductIcon {
  @apply text-gray-400;
}

.searchProductInput {
  @apply w-full focus:outline-none placeholder:text-gray-400 placeholder:font-medium placeholder:text-sm;
}

.searchProductsList {
  @apply p-2 border border-gray-300 rounded h-72 w-full;
}

.searchProductItem {
  @apply flex relative items-center;
}

.searchProductItemCheckbox {
  @apply appearance-none opacity-0 w-0 h-0;
}

.newCheckBox {
  @apply top-0 left-0 w-5 h-5 border border-gray-300 rounded mr-2 after:content-[''] after:absolute after:hidden;
}

.searchProductItem input:checked ~ .newCheckBox {
  @apply after:block;
}

.searchProductItem .newCheckBox:after {
  position: absolute;
  left: 7px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submitButton {
  @apply w-full py-2.5 bg-red-600 border-none text-white rounded flex items-center justify-center h-11;
}
